<!-- CS340 Project Step 3 Draft-->
<!-- Section    : 401-->
<!-- Team Member: Alice Li & Chang Li-->
<!-- Homepage Handlebar -->

<html lang="en">
{{#each foo}}
{{this}}
{{/each}}
<body>
    <div class = "page-header">
        <h1>Fantastic High School Information Management</h1>
    </div>
    

    <!--Reference: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Navigation Bars -->
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students"> Student Info </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/classstudents"> Class Enroll Info </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/classes"> Class Info </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exams"> Exam Info </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers"> Teacher Info </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/offices"> Office Info </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search"> Search Class </a>
            </li>
        </ul>
    </nav>


    <!-- Info Section -->
    <div style="text-align:center;">
    <br>
    <h4 style="margin-above: 2em;">This is Fantastic High School Information Management Center. Please double check your information.</h4>
    </br>
    </br>
    <img src="high-school.jpg" alt="School Picture">
    <p>Picture Credit: <a href="https://pixabay.com/photos/high-school-templin-uckermark-5253594/">guvo59</a></p>
    </br>
    </div>

    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- Footer with Copyright -->
    <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> Alice Li and Chang Li</a>
    </div>
    </footer>

    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</body>

</html>
